python>=3.8
astropy
beautifulsoup4
h5py
matplotlib
numpy
psutil
requests
shapely
statsmodels
xarray
rioxarray
lapack
netCDF4
bottleneck
colorcet
networkx
scipy
cmcrameri
ipympl
usgs-libcomcat
gdal
pygmt